/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs
/Dancer2-Plugin-Locale-Wolowitz-*
/.build
/_build_params
/Build
/Build.bat
!META.json
!LICENSE
